<link rel="stylesheet" href="../_sass/includes/education.scss">{% assign volunteering = site.data.data.volunteering %}
{% if volunteering %}
<section class="volunteering">
    <h2 class="title">Volunteering</h2>
    {% for vol in volunteering %}
        <div class="volunteering-item">
            <div class="organization">
                At <a target="_blank" href="{{vol.link}}">{{vol.company}}
                    <label><i class="fa fa-external-link"></i></label> </a>

                <span class="time">{{vol.time}}</span>
            </div>
            <div class="details">{{vol.details}}</div>    
        </div>
        
    {% endfor %}
</section>
{% endif %}