.footer {
    .title {
        @include header;
        margin-top: 50px;
    }
    .footer-text {
        margin-bottom: 20px;
        @include body-text;
        .project-link {
            @include body-text;
            label {
                    cursor: pointer;
                }
        }
        .details {
            @include body-text;
        }

        a {
            @include body-text;
            &:hover {
                text-decoration: underline;
            }
        }
    }
    label {
        cursor: pointer;
    }
}